<!--*******************************************************************-->
<!--*******************  Header Starts Here ***************************-->
<!--*******************************************************************-->

<div class="nav-bg">
	<div class="container">
		<div class="header-text">
			<h1>Loan Financer</h1>
		</div>
		<div class="nav">
			<ul>
				<li><div class="dropdown">
					<span>Home</span>
					<div class="dropdown-content">
						<a href="#" >Home Loan</a>
						<a href="#">Car Loan</a>
						<a href="#">Personal Loan</a>
					</div>
				  </div></li>
				<li><a href="#">About Us</a></li>
				<li><button class="LogIn-Button" routerLink="/login">Log in</button></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<!--*******************************************************************-->
<!--*******************  Header Ends Here *****************************-->
<!--*******************************************************************-->
<router-outlet></router-outlet>
<!--*******************************************************************-->
<!--*******************Banner Starts Here *****************************-->
<!--*******************************************************************-->

<div>
	<div class="banner-container">
		<div class="banner-img">
			<!-- <marquee>THIS IS DEMO TEXT IT WILL BE CHANGE BEFORE FINALIZATION OF PROJECT (As regards deposit taking activity of HDFC Ltd. (hereinafter referred to as "the Company"), the viewers may refer to the advertisement in the newspaper/information furnished in the application form for soliciting public deposits.
				The company is having a valid Certificate of Registration dated 31-07-2001 issued under Section 29A of the National Housing Bank Act, 1987. However, the Reserve Bank of India or the National Housing Bank does not accept any responsibility or guarantee about the present position as to the financial soundness of the company or for the correctness of any of the statements or representations made or opinions expressed by 
				the company and for repayment of deposits/discharge of the liabilities by the company.)</marquee> -->
			<img src="assets/img/banner.jpg" alt="banner">
			<marquee class="scrolling-text">THIS IS DEMO TEXT IT WILL BE CHANGE BEFORE FINALIZATION OF PROJECT (As regards deposit taking activity of HDFC Ltd. (hereinafter referred to as "the Company"), the viewers may refer to the advertisement in the newspaper/information furnished in the application form for soliciting public deposits.
				The company is having a valid Certificate of Registration dated 31-07-2001 issued under Section 29A of the National Housing Bank Act, 1987. However, the Reserve Bank of India or the National Housing Bank does not accept any responsibility or guarantee about the present position as to the financial soundness of the company or for the correctness of any of the statements or representations made or opinions expressed by 
				the company and for repayment of deposits/discharge of the liabilities by the company.)</marquee>
			<div class="banner-text">
				<h2>[Featurs]WE NEED THE TONIC OF WILDNESS</h2>
				<button class="LogIn-Button">Apply For Loan</button>
        <button routerLink="/userprofile" class="LogIn-Button">Eligibility</button>
        <button routerLink="/calculator" class="LogIn-Button">Calculator</button>
			</div>
			
	</div>
</div>
</div>